.Landing {
	@include box(100vw, 100%);
	@include make-flex(column);
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: 50px;
	
	&__hero {
		@include box(100%, 100vh);
		@include make-flex(row, center, space-evenly);
		gap: 5%;
	}

	&__heroImage {
		@include box(40%);
	}
	
	&__heroRight {
		@include box(40%, 100%);
		@include make-flex(column, center, center);
		gap: 2rem;
		
	}
	
	&__heroTitle {
		color: #0b5334;
		font-size: 6rem;
	}

	&__heroSubtitle {
		color:#ffffff;
		font-size: 2.5rem;
	}
	
	&__shopNow {
		@include make-flex(row, center, space-between);
		width: 40%;
		padding: 10px 20px;
		border-radius: 100px;
		text-decoration: none;
		color: #ffffff;
		background-color: #48896D;
		
		p {
			font-size: 1.25rem;
			line-height: 2rem;
		}
	}
	
	&__productSection {
		@include box(95%, 60vh);
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr) 1.5fr;
		grid-template-rows: 1fr;
		gap: 1rem;
	}
	
	&__product {
		@include box(90%, 90%);
		border-radius: 20px;
		object-fit: cover;
	}
	
	&__card {
		@include box(90%, 90%);
		@include make-flex(column, center, center);
		gap: 1rem;
		padding: 15px;
		box-sizing: border-box;
		text-align: center;
		border-radius: 20px;
		// background-color: #48896D;
		
	}
	
	&__cardText {
		font-size: 35px;
		font-weight: 300;
	}
	
	&__cardButton {
		background-color: transparent;
		border: 1px solid #48896D;
		border-radius: 100px;
		padding: 10px 20px;
		font-size: 20px;
		text-decoration: none;
		color: #000000;
	}
	
	&__contact {
		@include box(100%, 100vh);
		@include make-flex(row, center, space-evenly);
		gap: 5%;
	}
	
	.form {
		background-color: #15172b;
		border-radius: 20px;
		box-sizing: border-box;
		height: 500px;
		padding: 20px;
		width: 320px;
		text-align: center;
	}

	.title {
		color: #eee;
		font-weight: 600;
		margin-top: 30px;
	}

	.subtitle {
		color: #eee;
		font-size: 16px;
		font-weight: 600;
		margin-top: 10px;
	}

	.input-container {
		height: 50px;
		position: relative;
		width: 100%;
	}

	.ic1 {
		margin-top: 40px;
	}

	.ic2 {
		margin-top: 30px;
	}

	.input {
		background-color: #303245;
		border-radius: 12px;
		border: 0;
		box-sizing: border-box;
		color: #eee;
		font-size: 18px;
		height: 100%;
		outline: 0;
		padding: 4px 20px 0;
		width: 100%;
	}

	.cut {
		background-color: #15172b;
		border-radius: 10px;
		height: 20px;
		left: 20px;
		position: absolute;
		top: -20px;
		transform: translateY(0);
		transition: transform 200ms;
		width: 76px;
	}

	.cut-short {
		width: 50px;
	}

	.input:focus ~ .cut,
	.input:not(:placeholder-shown) ~ .cut {
		transform: translateY(8px);
	}

	.placeholder {
		color: #65657b;
		left: 20px;
		line-height: 14px;
		pointer-events: none;
		position: absolute;
		transform-origin: 0 50%;
		transition: transform 200ms, color 200ms;
		top: 20px;
	}

	.input:focus ~ .placeholder,
	.input:not(:placeholder-shown) ~ .placeholder {
		transform: translateY(-30px) translateX(10px) scale(0.75);
	}

	.input:not(:placeholder-shown) ~ .placeholder {
		color: #808097;
	}

	.input:focus ~ .placeholder {
		color: #dc2f55;
	}

	.submit {
		background-color: #08d;
		border-radius: 12px;
		border: 0;
		box-sizing: border-box;
		color: #eee;
		cursor: pointer;
		font-size: 18px;
		height: 50px;
		margin-top: 38px;
		text-align: center;
		width: 100%;
	}
}

