.Landing {
	@include box(100vw, 100%);
	@include make-flex(column);
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: 50px;
	gap: 3rem;
	
	&__hero {
		@include box(100%, 100vh);
		@include make-flex(row, center, space-evenly);
		gap: 4rem;
	}

	&__heroImage {
		@include box(40%);
	}
	
	&__heroRight {
		@include box(40%, 100%);
		@include make-flex(column, center, center);
		gap: 2rem;
		
	}
	
	&__heroTitle {
		color: #0b5334;
		font-size: 6rem;
	}

	&__heroSubtitle {
		color:#ffffff;
		font-size: 2.5rem;
	}
	
	&__shopNow {
		@include make-flex(row, center, space-between);
		width: 40%;
		padding: 10px 20px;
		border-radius: 100px;
		text-decoration: none;
		color: #ffffff;
		background-color: #48896D;
		
		p {
			font-size: 1.25rem;
			line-height: 2rem;
		}
	}
	
	&__productSection {
		@include box(95%, 60vh);
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr) 1.5fr;
		grid-template-rows: 1fr;
		gap: 1rem;
	}
	
	&__product {
		@include box(90%, 90%);
		border-radius: 20px;
		object-fit: cover;
	}
	
	&__card {
		@include box(90%, 90%);
		@include make-flex(column, center, center);
		gap: 1rem;
		padding: 15px;
		box-sizing: border-box;
		text-align: center;
		border-radius: 20px;
		// background-color: #48896D;
		
	}
	
	&__cardText {
		font-size: 35px;
		font-weight: 300;
	}
	
	&__cardButton {
		background-color: transparent;
		border: 1px solid #48896D;
		border-radius: 100px;
		padding: 10px 20px;
		font-size: 20px;
		text-decoration: none;
		color: #000000;
	}
	
	&__contact {
		@include box(100%, 100vh);
		@include make-flex(row, center, space-evenly);
		gap: 5%;
	}
	
	&__contactImage {
		@include box(fit-content, 80%);
		margin-bottom: auto;
	}
	
	&__form {
		@include box(35%, fit-content);
		@include make-flex(column, center, start);
		gap: 2rem;
		padding: 30px 20px;
		border: 2px solid #48896D;
		background-color: #a3d4c3;
		color: #000;
		border-radius: 20px;
		box-sizing: border-box;
		text-align: center;
	}

	&__title {
		font-size: 3rem;
		line-height: 1.5rem;
		font-weight: 600;
	}

	&__subtitle {
		font-size: 1.2rem;
		font-weight: 300;
		margin-bottom: 1rem;
	}
	
	input {
		@include box(90%, 50px);
		background-color: #ffffff;
		border-radius: 8px;
		border: none;
		box-sizing: border-box;
		font-size: 1.5rem;
		outline: 0;
		padding: 0 20px;
	}
	

	&__submit {
		@include box(90%, 50px);
		box-sizing: border-box;
		border-radius: 12px;
		border: none;
		background-color: #0b5334;
		font-size: 1.5rem;
		color: #eee;
		cursor: pointer;
		text-align: center;
	}

}

