.Navbar {
  @include box(100vw, 70px);
	@include make-flex(row, center, space-between);
  padding: 16px 0;
  overflow: hidden;
	backdrop-filter: blur(50px);
  z-index: 10;
  transition: 0.2s;
  position: fixed;
  top: 0;
	
	&__logo {
		height: 75px;
		object-fit: contain;		
	}
	
	&__links {
		@include box(50%, 100%);
		@include make-flex(row, center, space-evenly);
		gap: 1.5rem;
	}
	
	&__navLink {
		text-decoration: none;
		font-size: 1.5rem;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 5px;
		padding: 8px 32px;
		color: #023620;
		
		&:hover, &--active {
			text-decoration: underline;
			color: #000000;
		}
	}
	
	&__auth {
		@include box(fit-content, 100%);
		@include make-flex(row, center, space-evenly);
		margin-right: 2rem;
		gap: 3rem;
	}
	
	&__authBtn {
		background-color: transparent;
		border: none;
		cursor: pointer;
		font-size: 1.5rem;
		
	}

}